{% extends "base.html" %}

{% block title %}Add New Dish - Pizzeria Oderman{% endblock %}

{% block content %}
<h1>Add New Dish</h1>
<form method="POST">
    <label for="name">| Назва піци: |</label>
    <input type="text" id="name" name="name" required><br>
    <label for="ingredients">| Опис інгредієнтів: |</label>
    <input type="text" id="ingredients" name="ingredients" required><br>
    <label for="price">| Ціна: |</label>
    <input type="number" id="price" name="price" step="0.01" required><br>
    <input type="submit" value="Add Dish">
</form>
{% endblock %}